@{
    ViewBag.Title = "About Feedpaper";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        @ViewBag.Description
    </p>
</article>

<aside>
    <h3>Blogs to Check Out</h3>
    <p>
        Here are some of the more popular blogs with readers.
    </p>
    <ul>
        <li><a href="http://www.daedtech.com/blog">DaedTech</a></li>
        <li><a href="http://www.hanselman.com/blog/">Scott Hanselman's Blog</a></li>
        <li><a href="http://thedailywtf.com/">The Daily WTF</a></li>
    </ul>
</aside>