@{
    ViewBag.Title = "Feed Paper";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>When complete, Feed Paper will provide the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Your Own Personal Digital, Customized Newspaper</h5>
        Add feeds and sites to your Feed Paper account, categorize them and Feed Paper will assemble them into
        newspaper format for easy reading on your desktop, laptop, tablet or phone.  It's like your morning newspaper,
        but with no dead trees and sections you don't care about. 
    </li>

    <li class="two">
        <h5>Content to Distribute</h5>
        Build a paper and offer it for others to use.  This may be especially useful for people who post link collections
        and digests.  Now you can provide the readers with the same content for which they look to you, but in an 
        appealing, easily consumable format.
    </li>

    <li class="three">
        <h5>Pre-Arranged Papers for Easy Reading</h5>
        Don't have time or inclination to lay out your own paper?  Choose from some stock ones or ones promoted by other
        users.  This is a great way to get content that you like with absolutely no effort.
    </li>
</ol>
